<%= render "header" %>

<div class="album py-5 bg-light">
    <div class="card container">
      <div class="row justify-content-center">  

        <h1>Aqui estão suas peças favoritas :)</h1> 

      </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="row">

      <% @results.each do |cloth| %>

        <div class="col-md-3">
          <div class="card mb-3-box-shadow">
            <%= link_to cloth_item_path(cloth.id) do %>
              <%= image_tag( cloth.url, class: "card-img-top") %>
            <% end %>
            <div class="card-body">
              <h4><%= cloth.name %></h4>
              <p class="card-text">História da Camiseta</p>
              <p class="card-text">R$<%= cloth.price %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                #Adição da imagem que irá retirar uma cloth dos favoritos 
                <%= link_to cloth_unfavorite_path(cloth.id) do %>
                  <%= image_tag "unfavorite.png", class: 'fav-img' %>
                <% end %>
              </div>
              
            </div>
          </div>
        </div>
      
      <% end %>

    </div>
</div>

<style>
.fav-img {
  height: 50px;
  /* put value of image height as your need */
  float: left;
  margin-right: 7px;
}
</style>