<%= render "header" %>

<br>

<div class="container">
  <div class="row">
  <% Cloth.select(:artist).distinct.each do |cloth| %>
    <div class="col-sm">
      <%= link_to cloth_market_path(cloth.artist) do %> 
        <button 
        type="button" 
        class="btn btn-outline-secondary">
          <%= cloth.artist %>
        </button>
      <% end %>
    </div>
  <% end %>
  </div>
</div>



<div class="album py-5 bg-light">
    <div class="row">

      <% @cloth_paginate.each do |cloth| %>

        <div class="col-md-3">
          <div class="card mb-3-box-shadow">
            <%= link_to cloth_item_path(cloth.id) do %>
              <%= image_tag( cloth.url, class: "card-img-top") %>
            <% end %>
            <div class="card-body">
              <h4><%= cloth.name %></h4>
              <p class="card-text">História da Camiseta</p>
              <p class="card-text">R$<%= cloth.price %></p>
              <p class="card-text"><%= cloth.id %></p>
            </div>
          </div>
        </div>
      
      <% end %>

    </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    <% for i in (1..@number_of_pages).to_a  do %>
      <%= link_to cloth_page_path(i), class: "page-link"  do %>
        <%= i %>
      <% end %>
    <% end %>

  </ul>
</nav>   