<%= render "header" %>

<br>

<div class="container">
  <div class="row">
  <% Cloth.select(:artist).distinct.each do |cloth| %>
    <div class="col-sm">
      <%= link_to cloth_store_path(cloth.artist) do %> 
      <button 
      type="button" 
      class="btn btn-outline-secondary">
        <%= cloth.artist %>
      </button>
      <% end %>
    </div>
  <% end %>
  </div>
</div>



<div class="album py-5 bg-light">
    <div class="row">

      <% Cloth.all.each do |cloth| %>

        <div class="col-md-3">
          <div class="card mb-3-box-shadow">
            <%= link_to cloth_item_path(cloth.id) do %>
              <%= image_tag( cloth.url, class: "card-img-top") %>
            <% end %>
            <div class="card-body">
              <h4><%= cloth.name %></h4>
              <p class="card-text">História da Camiseta</p>
              <p class="card-text">R$<%= cloth.price %></p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      
      <% end %>

    </div>
</div>