<h1>Add Stock</h1>
<%= form_for :stock, url: stocks_new_path  do |f| %>
  <p>
    <%= f.label :cloth_id %>
    <%= f.select :cloth_id, options_for_select(Cloth.all.map{|s|[s.name, s.id]}) %>
  </p>

  <p>
    <%= f.label :tamanho  %>
    <%= f.text_field :tamanho %>
  </p>

<p>
    <%= f.label :cor  %>
    <%= f.text_field :cor %>
  </p>
  <p>
    <%= f.submit %> 
  </p> 

<% end %>